.lang-dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.dropbtn {
    background: white;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 120px;
    transition: all 0.2s;
}

.dropbtn:hover {
    border-color: #bbb;
    background: #f9f9f9;
}

.flag-icon {
    width: 20px;
    height: 15px;
    object-fit: cover;
    border-radius: 2px;
}

.arrow {
    font-size: 10px;
    margin-left: auto;
    transition: transform 0.2s;
    color: #888;
}

.arrow.open {
    transform: rotate(180deg);
}
/* CSS стили больше не нужны контроля состояния, control flow - логикой отображения, состоянием DOM-блока .dropdown-content управляет Angular (@if) */
.dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    margin-top: 4px;
    overflow: hidden;
    border: 1px solid #eee;
}

/* .dropdown-content.show {
    display: block;
} */

.lang-item {
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    transition: background 0.2s;
}

.lang-item:hover {
    background-color: #f1f1f1;
}

.lang-item.active {
    background-color: #eef5ff;
    color: #007bff;
    font-weight: 500;
}